<div class="results">
    <nav>
        <img class="logo" src="/img/google.png" alt="Google Logo" />
        <form class="result-form" action="index.html" method="post">
            <input type="search" name="searchBarRes" />
            <button class="res-button" type="submit">Search</button>
        </form>
    </nav>
    <div class="result-list">
      <small>37 Results</small>      
      {{#each results as |result|}}
      <small class="url">{{result.url}}</small>
        <h2><a href="{{result.url}}">{{result.title}}</a></h2>
        <p>{{result.description}}</p>
        <ul>
            {{#each links as |link|}}
          <li><a href="{{link.url}}">{{link.title}}</a></li>
          {{/each}}
        </ul>
        {{/each}}
    </div>
</div>
{{!-- <div class="resultTemplate">
        <small class="url">www.w3school.com</small>
        <h2>
          <a href="https://www.w3schools.com/js/">JavaScript Tutorial - W3School</a>
        </h2>
        <p>
          Well organized and easy to understand Web building tutorials with lots
          of examples of how...
        </p>
        <ul>
          <li>
            <a href="https://www.w3schools.com/js/js_intro.asp"
              >JavaScript Introduction</a>
          </li>
          <li>
            <a href="https://www.w3schools.com/js/js_functions.asp"
              >JS Functions</a>
          </li>
          <li>
            <a href="https://www.w3schools.com/js/js_examples.asp"
              >JavaScript Introduction</a>
          </li>
        </ul>
      </div>
      <div class="resultTemplate">
        <small class="url">developer.mozilla.org</small>
        <h2>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
            >JavaScript | MDN</a
          >
        </h2>
        <p>
          JavaScript(JS) is a lightweight, interpreted, or just-in-time, compliled
          programming language with first-class functions...
        </p>
        <ul>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators"
              >JavaScript Operator</a
            >
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Text_formatting"
              >JavaScript Code</a
            >
          </li>
          <li>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
              >JavaScript Meaning</a
            >
          </li>
        </ul>
      </div>  
      <div class="resultTemplate">
        <small class="url">e.wikipedia.org</small>
        <h2>
          <a href="https://en.wikipedia.org/wiki/JavaScript"
            >JavaScript - Wikipedia</a
          >
        </h2>
        <p>
          JavaScript often abbreviated as JS, is a is a programming language that
          is one of the core technologies of the World Wide Web, alongside HTML
          and CSS.
        </p>
        <ul>
          <li>
            <a href="https://en.wikipedia.org/wiki/JavaScript#JSON"
              >JavaScript Online</a
            >
          </li>
          <li>
            <a href="https://en.wikipedia.org/wiki/JavaScript"
              >JavaScript Definition</a
            >
          </li>
        </ul>
      </div> --}}